@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.card {
  position: relative;
  width: 350px;
  height: 190px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card:hover{
  height: 450px;
}

.card-image {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .card-image {
  width: 250px;
  height: 250px;
}

.card-image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .card-content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.card:hover .card-content .details {
  transform: translateY(0);
}

.card .card-content .details > h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.card .card-content .details > h2 > span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .card-content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .card-content .details .data > h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
} 

.card .card-content .details .data > h3 > span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.card .card-content .details .actionBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card .card-content .details .actionBtn > button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #fbda61;
  cursor: pointer;
}

.card .card-content .details .actionBtn > button:nth-child(2) {
  border: 1px solid #999;
  background: #fff;
  color: #999;
}